  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover , .dropdown:hover .dropbtn {
    background-color: palevioletred;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .op {
    background-color: white;
    color:black ;
    background-color:white;
    /* padding: 3px 3px 3x 200px;
    margin: 60px 16px 8px 20px; */
    /* padding: 12px 20px;
    /* margin: auto;  */
    /* margin: 20px auto;   */ 
    width: 300px;
    height: 50px;
    border-color: white; 
    box-sizing: border-box;
    font-size: 16px;
  }